@page "/measurement/{MeasurementId}"
@using Fluxor.Blazor.Web.Components
@using MudBlazor
@inherits FluxorComponent

<PageTitle>Dyno details</PageTitle>

<h1>Measurement</h1>

@if(AppState.Value.IsLoggedIn)
{
    <h4>Details: @Measurement.Name</h4>
    <p>@Measurement.Description</p>

    <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" ChartOptions="@Options" />
} 
else
{
    <p>You need to logged in to view this page.</p>
}






