@page "/dyno"
@using Fluxor.Blazor.Web.Components
@inherits FluxorComponent

<PageTitle>Dyno</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

<MudTable Items="@Measurements" Hover="true" Loading="@MeasurementState.Value.IsLoading">
    <HeaderContent>
        <MudTh>
            Id
        </MudTh>
        <MudTh>
            Datapoints
        </MudTh>
        <MudTh>
            Date recorded
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Datapoints count">@context.MeasurementResults.Count</MudTd>
        <MudTd DataLabel="Date">@context.DateTime</MudTd>
    </RowTemplate>
</MudTable>


